@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}
.Styledtoolbar{
    background-color: #121212;
    min-height: 56px !important;
}

.Styledtoolbar img {
    width:64px;
}

.Header_menu_button {
    color: white;
}

#inputID::placeholder {
    color: #242424;
    padding-left: 6px;
    font-size: 14px;
    font-weight:500;
    /* opacity: 1; */
}

.Searchbar{
    background-color: white;
    height:30px;
    width: 105vh;
    border-radius: 5px;
    margin-left: 20px;
}

